@media screen and (max-width: 1240px) {
	.container {
		width: auto;
		padding: 0 15px;
	}
}
@media screen and (max-width: 939px) {
	.project-sec .grid-column-three {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 767px) {
	.hero-sec .grid-column-two {
		grid-template-columns: repeat(1, 1fr);
		gap: 0rem;
	}
	.work-card-container .grid-column-two {
		grid-template-columns: repeat(1, 1fr);
	}
	.skills-container {
		flex-wrap: wrap;
	}
	.dive-in-sec {
		margin: 3rem auto 0;
	}
	.work-card-container {
		margin-bottom: 2rem;
	}
	.projects-btn {
		font-size: 1rem;
	}
}

@media screen and (max-width: 639px) {
	.project-sec .grid-column-three {
		grid-template-columns: repeat(1, 1fr);
	}
	.hero-main-cantainer h1 {
		font-size: 4rem;
	}
	/* .hero-main-cantainer {
		text-align: center;
	} */
}

@media screen and (max-width: 539px) {
	.grid-column-five {
		grid-template-columns: repeat(3, 1fr);
	}

	.grid-column-two {
		grid-template-columns: repeat(1, 1fr);
	}

	.logo {
		font-size: 1.2rem;
	}

	.header-container {
		height: 3rem;
	}

	.mr-top {
		margin-top: 3rem;
	}

	.hero-main-cantainer h1 {
		font-size: 2rem;
	}

	.profile {
		font-size: 1.4rem;
		margin-bottom: 0.7rem;
	}

	.about-content {
		font-size: 1rem;
	}

	.getin-touch {
		font-size: 1.2rem;
		margin-bottom: 5.5rem;
	}

	.section:nth-child(2) {
		padding-top: 2rem;
	}

	.dive-in-sec {
		font-size: 0.9rem;
		width: 120px;
	}

	.contact-info ul {
		flex-direction: column;
		align-items: flex-start;
	}

	.footer-container .logo {
		font-size: 1.8rem;
	}

	nav ul {
		gap: 0.5rem;
	}

	nav ul li a {
		font-size: 1rem;
	}

	.skills-container {
		flex-wrap: wrap;
	}
	.sec-work .work-content p {
		font-size: 1rem;
	}
	.sec-work .work-content h2 {
		font-size: 2rem;
	}
	.work-content ul {
		flex-wrap: wrap;
	}
}
