:root {
	--color-blue: #2965ff;
	--color-gray-600: #8e97a7;
	--color-white: #fff;
	--color-black: #262626;
	--color-purpule: #6c04f5;
	--bg-section-color: #f7f8f8;
	--color-blue-shade: #001844;

	/* --- transition ----*/

	--transition: all 500ms ease;
	--transition: all 500ms linear;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.6;
	border: 0;
	outline: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	/* font-family: 'Poppins', sans-serif; */
	font-family: 'Dosis', sans-serif;
	font-size: 0.9rem;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

ul {
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 2.3rem;
	color: var(--color-black);
	margin-bottom: 1.5rem;
}

/* ---- Reusable Classes ---- */

.container {
	width: 1140px;
	margin: 0 auto;
}

.section {
	padding: 5rem 0;
}

.section-pad {
	padding-bottom: 3rem;
}

.grid-column-five {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
	gap: 1rem;
}

.grid-column-two {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	gap: 4rem 2rem;
}
.grid-column-three {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.mr-top {
	margin-top: 5rem;
}
.mrt-top {
	margin-top: 1.5rem;
}

/* ---- Header Section ---- */

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	height: 5rem;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--bg-section-color);
	transition: var(--transition);
	z-index: 99;
}

.header.active {
	box-shadow: 0 0px 1px var(--color-gray-600);
}

.logo {
	color: var(--color-blue-shade);
	font-size: 2rem;
	font-weight: 800;
}

nav ul {
	display: flex;
	align-items: center;
	gap: 1.3rem;
}

nav ul li {
	position: relative;
}

nav ul li::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	background: var(--color-blue-shade);
	transition: var(--transition);
}

nav ul li a {
	color: var(--color-blue-shade);
	font-size: 1.2rem;
	font-weight: 600;
	transition: var(--transition);
}

nav ul li a:hover {
	color: var(--color-blue-shade);
}

nav ul li:hover::before {
	width: 100%;
}

/* ---- Hero Section ---- */
.hero-sec {
	background: url('../assets/hero-bg.jpg') no-repeat center center;
	background-size: cover;
}
.hero-main-cantainer h1 {
	font-size: 4rem;
	color: var(--color-white);
	line-height: 1.3;
}
.hero-main-cantainer {
	padding-top: 5rem;
}

.profile {
	font-size: 2rem;
	color: var(--color-white);
	font-weight: 600;
	margin-bottom: 1rem;
}

.about-content {
	max-width: 800px;
	font-size: 1.4rem;
	margin-bottom: 1.3rem;
	color: var(--color-white);
}

.getin-touch {
	font-size: 1.4rem;
	margin-bottom: 6rem;
	color: var(--color-white);
}

.mail-info {
	color: #f12e52;
}

.mail-info:hover {
	text-decoration: underline;
}

.dive-in-sec {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.8rem;
	line-height: 50px;
	padding: 0 15px;
	background: #f12e52;
	width: 120px;
	color: var(--color-white);
	border-radius: 5rem;
	margin: 0 auto;
	font-size: 1.1rem;
}

.dive-in-sec i {
	transform: scale(1);
	transition: var(--transition);
}

.dive-in-sec:hover i {
	transform: scale(1.2);
}

.heroimg img {
	width: 90%;
	display: block;
	margin: 0 auto;
}

.heroimg {
	position: relative;
	z-index: 2;
}

.heroimg::after {
	content: '';
	position: absolute;
	top: -3rem;
	left: 3rem;
	height: 300px;
	width: 300px;
	background: #ffffff2b;
	border-radius: 100%;
	box-shadow: 0 0 20px #ffffff2b;
	filter: blur(8px);
	-webkit-filter: blur(8px);
	z-index: -1;
	display: none;
}

/* ---- Skills Section ---- */
/* .sec-skill {
	background: var(--bg-section-color);
} */
.sec-skill h2 {
	color: var(--color-blue-shade);
	text-align: center;
	margin-bottom: 2rem;
}

.development-skill {
	font-size: 1.3rem;
	color: var(--color-blue);
	font-weight: 400;
	margin-bottom: 1.5rem;
	text-align: center;
}

.mr-bottom {
	margin-bottom: 2rem;
}

.skill-box {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgb(173 173 173 / 46%);
	padding: 1rem;
	transition: var(--transition);
	border-radius: 0.5rem;
}

.skill-box:hover {
	box-shadow: 0 0 10px #dfdfdf;
}

.skill-box h3 {
	color: var(--color-black);
}

.skill-box img {
	width: 50px;
}

.skills-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

/* ---- Work Section ---- */
.sec-work {
	background: var(--bg-section-color);
}
.sec-work h2 {
	text-align: center;
	color: var(--color-blue-shade);
	margin-bottom: 2rem;
}
.sec-work .grid-column-two {
	align-items: inherit;
}
.work-card {
	height: auto;
	border-radius: 0.5rem;
	overflow: hidden;
	padding: 0.5rem;
	box-shadow: 0 0 5px var(--color-gray-600);
}

.work-card:hover {
	box-shadow: 0 0 15px var(--color-gray-600);
}

.website-link {
	display: block;
	width: 100%;
	height: 350px;
	overflow: hidden;
	cursor: pointer;
}

.website-link img {
	object-fit: cover;
	width: 100%;
	transform: translateY(0);
	transition: 12s ease-out;
}

.work-card:hover .website-link img {
	object-fit: cover;
	transform: translateY(calc(-100% + 400px));
	transition: 12s ease-out;
}

.project-headings {
	display: flex;
	align-items: center;
	gap: 0.3rem;
	font-size: 1rem;
	font-weight: bold;
	color: var(--color-white);
	background: var(--color-blue-shade);
	max-width: fit-content;
	padding: 0.5rem 1rem;
	border-radius: 0.3rem;
}

.website-description p {
	font-size: 1.1rem;
	font-weight: 600;
}

.sec-work .work-content h2 {
	text-align: inherit;
	margin-bottom: inherit;
	font-size: 2.6rem;
}
.sec-work .work-content p {
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

.work-content ul {
	display: flex;
	gap: 0.5rem;
	margin: 2rem 0;
}
.work-content ul li {
	padding: 0.5rem 1rem;
	background: var(--color-blue-shade);
	color: var(--color-white);
	border-radius: 0.3rem;
}
.work-content span {
	font-size: 1.2rem;
	font-weight: 600;
	color: #f12e52;
	display: block;
	margin-bottom: 1rem;
}
.work-card-container {
	margin-bottom: 5rem;
}
.sec-work .work-main-cantainer .work-card-container:last-child {
	margin-bottom: 0;
}
.projects-btn {
	display: block;
	padding: 0.7rem 1.5rem;
	border-radius: 0.3rem;
	background: var(--color-blue-shade);
	color: var(--color-white);
	max-width: fit-content;
	margin: 0 auto;
	font-weight: 600;
	font-size: 1.2rem;
}

/* ---- Project Section ---- */
.project-sec .grid-column-three {
	gap: 3rem 2rem;
}

.project-sec .work-card {
	padding: 0.5rem 0.5rem 1rem 0.5rem;
}
.project-sec .work-card h3 {
	font-size: 1.8rem;
	color: var(--color-black);
	margin: 0.8rem 0 0.6rem 0;
	padding-left: 1rem;
}
.project-sec .work-card span {
	padding-left: 1rem;
	display: block;
}

.project-sec .work-card span .project-headings {
	padding: 0.5rem 1.5rem;
}
/* ---- Footer Section ---- */

footer {
	padding: 1rem 0 5rem 0;
}

.footer-container .logo-container {
	margin-bottom: 1rem;
}

/*.footer-container .logo{
	color: var(--color-black);
}*/

.contact-info ul {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.contact-info ul li {
	border-bottom: 1px solid var(--color-gray-600);
	transition: var(--transition);
}

.contact-info ul li a {
	font-size: 1.1rem;
	font-weight: 600;
	color: rgb(70, 70, 70);
	transition: var(--transition);
}

.contact-info ul li:hover {
	border-color: var(--color-black);
}

.contact-info ul li:hover a {
	color: var(--color-black);
}
